<!DOCTYPE html>
<html>
<head>
	<title>Python Starter Application</title>
	<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="stylesheets/style.css" />-->
</head>
<body>
<a href="/upload">upload file</a><br>
<a href="/list">list files</a><br>
<a href="/delete">Delete files</a><br>
<a href="/download">Download files</a><br>
<a href="/readfile"> Read File</a><br>
<a href="/date"> Delete Based On Date</a><br>
<a href="/uploadImage">Upload Image</a><br>
</body>
</html>
